<html>

<head>
    <link rel="stylesheet" href="https://pdfgenerator1.herokuapp.com/homebuyer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</HEAD>


<body>
    <div class="coverPage" style="margin-bottom: 3em;">

        <img src="https://pdfgenerator1.herokuapp.com/images/cover1.PNG" style="margin-left: 2em;margin-top:2em">
        <div style="margin-left:18em;margin-top:-3em">
            <div class="col div1">
                <div class="row  mb-3" style="font-size: 13px;">
                    <label class="pt-2 la" style="padding-right: 1em;">Property address</label>
                    <div style="border: 1px solid #a0a4b0;width: 18em;">
                        <p style="padding-left: 0.5em;padding-top:1em;font-size: 13px;">{{breaklines A09}}</p>
                    </div>
                </div>
                <div class="row mb-3" style="font-size: 13px;">
                    <label class="la" style="padding-left: 1.5em;padding-right: 0.8em;">Client's name</label>
                    <div style="margin-left:0.2em;border: 1px solid #a0a4b0;width: 18em;">
                        <p style="padding-left: 0.5em;padding-top:1em;font-size: 13px;">{{A07}}</p>
                    </div>
                </div>
                <div class="row" style="font-size: 13px;margin-left:-2em">
                    <label class="la" style="padding-right: 1.2em;">Date of Inspection</label>
                    <div style="border: 1px solid #a0a4b0;width: 18em;">
                        <p style="padding-left: 0.5em;padding-top:1em;font-size: 13px;">{{A02}}</p>
                    </div>
                </div>
            </div>
        </div>
        <footer style="position: absolute;bottom: 10;margin-left:28em;">
            <div>
                <img src=" https://pdfgenerator1.herokuapp.com/images/rics.jpg" style="width: 15em;">
            </div>
        </footer>
    </div>
    <DIV id="page_2" style="page-break-before: always">
        <div>
            <h2 id="page2Content" style="margin-left:5.5em">Contents</h2>
        </div>

        <DIV id="id2_1" style="margin-top: -3em;">
            <P class="p5 ft7"><SPAN class="ft5">A</SPAN><SPAN class="ft6">Introduction to the report</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">B</SPAN><SPAN class="ft6">About the inspection</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">C</SPAN><SPAN class="ft8">Overall opinion and summary of the
                    condition
                    ratings</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">D</SPAN><SPAN class="ft8">About the property</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">E</SPAN><SPAN class="ft6">Outside the property</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">F</SPAN><SPAN class="ft9">Inside the property</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">G</SPAN><SPAN class="ft10">Services</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">H</SPAN><SPAN class="ft8">Grounds (including shared areas for
                    flats)</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft11">I</SPAN><SPAN class="ft12">Issues for your legal advisers</SPAN>
            </P>
            <P class="p6 ft7"><SPAN class="ft5">J</SPAN><SPAN class="ft13">Risks</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">K</SPAN><SPAN class="ft6">Valuation</SPAN></P>
            <P class="p6 ft7"><SPAN class="ft5">L</SPAN><SPAN class="ft8">Surveyor's declaration</SPAN>
            </P>
            <p class="p8 ft16"> What to do now</p>
            <P class="p8 ft16">Description of the RICS Building Survey Service Typical house diagram</P>
            <P class="p9 ft17">RICS is the world's leading qualification when it comes to professional standards in
                land, property and construction.</P>
            <P class="p10 ft17">In a world where more and more people, governments, banks and commercial
                organisations
                demand greater certainty of professional standards and ethics, attaining RICS status is the
                recognised
                mark of property professionalism.</P>
            <P class="p11 ft17">Over 100,000 property professionals working in the major established and emerging
                economies of the world have already recognised the importance of securing RICS status by becoming
                members.</P>
            <P class="p12 ft17">RICS is an independent professional body originally established in the UK by Royal
                Charter. Since 1868, RICS has been committed to setting and upholding the highest standards of
                excellence and integrity ­ providing impartial, authoritative advice on key issues affecting
                businesses
                and society.</P>
            <P class="p13 ft17">The RICS Building Survey is reproduced with the permission of the Royal Institution of
                Chartered Surveyors who owns the copyright.</P>
            <P class="p14 ft17">© 2010 RICS</P>
            <div class="underPara" style="margin-left: 181px;width: 36em;"></div>
        </DIV>
        <footer style="margin-top:7em;">
            <div class="row ml-3">
                <div class="col">
                    <img src="https://pdfgenerator1.herokuapp.com/images/rics.jpg" width="250em">
                </div>
                <div class="col" style="margin-left:9em">
                    <img src="https://pdfgenerator1.herokuapp.com/images/RicsHomeuyerReport.jpg" width="280em">
                </div>
            </div>
        </footer>
    </DIV>
    <DIV id="page_3" style="margin-top:1em;page-break-before: always">
        <div>

            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/A.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <h2 class="header1">Intoduction to the report</h2>
                    </td>
                </tr>
            </table>
        </div>

        <DIV id="id3_1" style="margin-top:-4em;font-size:20px;">
            <P class="p15 ft18">This Building Survey is produced by an RICS surveyor who has written this report for you
                to use. If you decide not to act on the advice in this report, you do this at your own risk</P>
            <P class="p16 ft18">The Building Survey aims to help you</P>

            <ul class="p18 ft19">
                <li>
                    help you make a reasoned and informed decision when purchasing the property, or when planning for
                    repairs, maintenance or upgrading of the property
                </li>
                <li>
                    provide detailed advice on condition;
                </li>
                <li>
                    describe the identifiable risk of potential or hidden defects;
                </li>
                <li>
                    where practicable and agreed, provide an estimate of costs for identified repairs; and
                </li>
                <li>
                    make recommendations as to any further actions or advice which need to be obtained before committing
                    to purchase
                </li>
            </ul>
            <P class="p20 ft18">Section B gives an outline description of what the inspection covers. A more detailed
                description is contained in the 'Description of the RICS Building Survey Service' at the end of this
                report</P>
            <P class="p20 ft18">Any extra services provided that are not covered by the terms and conditions of this
                report must be covered by a separate contract</P>
            <P class="p20 ft18">After reading this report you may have comments or questions. If so, please contact the
                RICS surveyor who has written this report for you (contact details are given in section L).</P>
            <P class="p20 ft18">If you want to complain about the service provided by the RICS surveyor, the surveyor
                will have an RICS­compliant complaints handling procedure and will give you a copy if you ask</P>

        </DIV>
        <div id="footer-template" style="font-size:10px !important;padding-left:10px;margin-top:35em;">

            <table style="margin-left: 1.6em;">
                <tr>
                    <td>
                        <P style="margin-left:-1em;
                        text-align:left;padding-left:42px;color:#a0a4b0;font-size:15px;">
                            Property address</P>
                    </td>
                    <td>
                        <div style="
                border: 1px solid #a0a4b0;
                width: 34em;height:2em;
            margin-left: -6em;
            ">
                            <p style="margin-top: -0em;padding-left: 1em;padding-top: 0.7em;font-size:12px;">
                                {{proper}}
                            </p>
                        </div>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/rics.jpg" width="250em">
                    </td>
                    <td style="padding-left: 13em;">
                        <img src="https://pdfgenerator1.herokuapp.com/images/RicsHomeuyerReport.jpg" width="280em">
                    </td>
                </tr>
            </table>
        </div>

    </DIV>
</body>

</html>