<!DOCTYPE html>
<HTML>


<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>Example HomeBuyer Report - HouzeCheck (1)</TITLE>
    <META name="generator" content="BCL easyConverter SDK 5.0.210">
    <link rel="stylesheet" href="https://pdfgenerator1.herokuapp.com/homebuyer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            counter-reset: page 1;
        }

        .img1 {
            margin-top: 3em;
            width: 11em;
            margin-left: 40em;
        }

        .img2 {
            width: 50em;
            margin: auto;
            display: block;
            margin-top: 15em;
        }

        .div1 {

            margin-top: 15em;
        }

        #page2Content {
            font-family: Century Schoolbook;
            margin-left: 5em;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 10em;
        }

        .underPara {
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 20em;
        }

        .pageNumber::after {
            counter-increment: page;
            content: counter(page);
        }

        .header1 {
            font-family: Century Schoolbook;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 14em;
        }




        .content-block {
            position: absolute;
            overflow: visible;
            overflow: auto
        }

        .tt1 {
            border-bottom: 1px solid #a0a4b0;
        }

        .tt1 tr:last-child td:last-child {
            border-bottom: 1px solid #a0a4b0;
            width: 18em;
        }

        .tt1 tr {
            line-height: 1px;
        }

        .para {
            padding-left: 1em;
            padding-top: 0.5em;
            font-size: 15px;
        }
    </style>
</HEAD>

<BODY>
    <DIV id="page_11" style="counter-reset:page {{num}};">
        <div>
            <div id="id24_1" style="margin-left: -2em;margin-top:-5em">
                <p class="p276 ft31">Getting quotations</p>
                <p class="p277 ft18">The cost of repairs may influence the amount you are prepared to pay for the
                    property. Before you make a legal commitment to buy the property, you should get reports and
                    quotations for all the repairs and further investigations the surveyor may have identified.</p>
                <p class="p278 ft18">You should get at least two quotations from experienced contractors who are
                    properly insured. You should also:</p>
                <p class="p279 ft18">ask them for references from people they have worked for;</p>
                <p class="p280 ft18">describe in writing exactly what you will want them to do; and</p>
                <p class="p280 ft18">get the contractors to put the quotations in writing.</p>
                <p class="p281 ft18">Some repairs will need contractors with specialist skills and who are members of
                    regulated organisations (for example, electricians, gas engineers, plumbers and so on). Some work
                    may also need you to get Building Regulations permission or planning permission from your local
                    authority.</p>
                <p class="p282 ft31">Further investigations</p>
                <p class="p283 ft18">If the surveyor is concerned about the condition of a hidden part of the building,
                    could only see part of a defect or does not have the specialist knowledge to assess part of the
                    property fully, the surveyor may have recommended that further investigations should be carried out
                    to discover the true extent of the problem.</p>
                <p class="p282 ft31">Who you should use for these further investigations</p>
                <p class="p284 ft18">You should ask an appropriately qualified person, though it is not possible to tell
                    you which one. Specialists belonging to different types of organisations will be able to do this.
                    For example, qualified electricians can belong to five different government­approved schemes. If you
                    want further advice, please contact the surveyor.</p>
                <p class="p282 ft31">What the further investigations will involve</p>
                <p class="p285 ft18">This will depend on the type of problem, but to do this properly, parts of the home
                    may have to be disturbed and so you should discuss this matter with the current owner. In some
                    cases, the cost of investigation may be high.</p>
                <p class="p282 ft31">When to do the work</p>
                <p class="p286 ft18">The condition ratings help describe the urgency of the repair and replacement work.
                    The following summary may help you decide when to do the work.</p>
                <ul class="p287 ft18">
                    <li>
                        <p>Condition rating 2 ­ repairs should be done soon. Exactly when will depend
                            on the
                            type of problem, but it usually does not have to be done right away. Many repairs could wait
                            weeks
                            or months, giving you time to organise suitable reports and quotations.</p>
                    </li>
                    <li>
                        <p>Condition rating 3 ­ repairs should be done as soon as possible. The speed
                            of your
                            response will depend on the nature of the problem. For example, repairs to a badly leaking
                            roof or a
                            dangerous gas boiler need to be carried out within a matter of hours, while other less
                            important
                            critical repairs could wait for a few days.</p>
                    </li>
                </ul>

                <p class="p282 ft31">Warning</p>
                <p class="p289 ft18">Although repairs of elements with a condition rating 2 are not considered urgent,
                    if they are not addressed they may develop into defects needing more serious repairs. Flat roofs and
                    gutters are typical examples. These can quickly get worse without warning and result in serious
                    leaks. As a result, you should regularly check elements with a condition rating 2 to make sure they
                    are not getting worse.</p>
                <p class="p289 ft18">In order to access the Terms of Engagement and Description of Service please copy
                    and paste the links on your browser</p>
            </div>
        </div>
    </DIV>
</BODY>

</HTML>