<!DOCTYPE html>
<HTML>


<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>Example HomeBuyer Report - HouzeCheck (1)</TITLE>
    <META name="generator" content="BCL easyConverter SDK 5.0.210">
    <link rel="stylesheet" href="https://pdfgenerator1.herokuapp.com/homebuyer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            counter-reset: page 1;
        }

        .img1 {
            margin-top: 3em;
            width: 11em;
            margin-left: 40em;
        }

        .img2 {
            width: 50em;
            margin: auto;
            display: block;
            margin-top: 15em;
        }

        .div1 {

            margin-top: 15em;
        }

        #page2Content {
            font-family: Century Schoolbook;
            margin-left: 5em;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 10em;
        }

        .underPara {
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 20em;
        }

        .pageNumber::after {
            counter-increment: page;
            content: counter(page);
        }

        .header1 {
            font-family: Century Schoolbook;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 14em;
        }




        .content-block {
            position: absolute;
            overflow: visible;
            overflow: auto
        }

        .tt1 {
            border-bottom: 1px solid #a0a4b0;
        }

        .tt1 tr:last-child td:last-child {
            border-bottom: 1px solid #a0a4b0;
            width: 18em;
        }

        .tt1 tr {
            line-height: 1px;
        }

        .para {
            padding-left: 1em;
            padding-top: 0.5em;
            font-size: 15px;
        }
    </style>
</HEAD>

<BODY>
    <DIV id="page_11" style="counter-reset:page {{num}};overflow:visible;">
        <div style="margin-left:7.5em;">
            <table>
                <tr>
                    <td style="font-size: 14px;">
                        <b>In my opinion the Market Value on</b>
                    </td>
                    <td>
                        <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;width:15em;height: 1.5em;">

                        </div>
                    </td>
                    <td style="font-size: 14px;">
                        <b>as inspected was:</b>
                    </td>
                </tr>
            </table>

            <table style="margin-top: 1em;">
                <tr>

                    <td>
                        <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;width:15em;height: 1.5em;">

                        </div>
                    </td>
                    <td>
                        <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;width:24em;margin-left: -7em;height: 1.5em;">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px;">
                        <p style="margin-left: 19em;">(amount in words)
                        </p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <p style="font-size: 12.5px;">Tenure</p>
                    </td>
                    <td>
                        <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;width:12em;height: 1.5em;">

                        </div>
                    </td>
                    <td>
                        <p style="font-size: 12.5px;">Area of property (sq m)</p>
                    </td>
                    <td>
                        <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;width:16em;height: 1.5em;">

                        </div>
                    </td>
                </tr>
            </table>
            <b style="font-size: 15px;margin-top: 1em;">In my opinion the current reinstatement cost of the property
                (see note below)
                is:
            </b>

            <table style="margin-top: 1em;">
                <tr>

                    <td>
                        <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;width:15em;height: 1.5em;">

                        </div>
                    </td>
                    <td>
                        <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;width:24em;margin-left: -7em;height: 1.5em;">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px;">
                        <p style="margin-left: 19em;">(amount in words)
                        </p>
                    </td>
                </tr>
            </table>
            <div style="margin-right: 3em;">
                <P id="fft18">In arriving at my valuation, I made the following assumptions</P>
                <P id="fft18" style="    margin-top: -1em;">With regard to the materials, construction, services,
                    fixtures
                    and fittings, and so on I
                    have assumed that:</P>
                <ul id="fft18" style="margin-left:-2em;margin-top: -1em;">
                    <li>
                        an inspection of those parts that I could not inspect would not identify significant defects or
                        a cause to alter the valuation;
                    </li>
                    <li>
                        no dangerous or damaging materials or building techniques have been used in the property;

                    </li>
                    <li>
                        there is no contamination in or from the ground, and the ground has not been used as landfill;
                    </li>
                    <li>
                        the property is connected to, and has the right to use, the mains services mentioned in the
                        report;
                        and
                    </li>

                    <li>
                        the valuation does not take account of any furnishings, removable fittings or sales incentives
                    </li>
                </ul>
                <P id="fft18" style="    margin-top: -1em;">With regard to legal matters I have assumed that:</P>
                <ul id="fft18" style="margin-left:-2em;margin-top: -1em;    margin-bottom: 0em;">
                    <li>
                        the property is sold with 'vacant possession' (your legal advisers can give you more information
                        on
                        this term);
                    </li>
                    <li>
                        the condition of the property, or the purpose the property is or will be used for, does not
                        break
                        any laws;
                    </li>
                    <li>
                        no particularly troublesome or unusual restrictions apply to the property, that the property
                        is not affected by problems which would be revealed by the usual legal inquiries and that all
                        necessary planning permissions and Building Regulations consents (including consents for
                        alterations) have been obtained and complied with; and
                    </li>
                    <li>
                        the property has the right to use the mains services on normal terms, and that the sewers, mains
                        services and roads giving access to the property have been 'adopted' (that is, they
                        are under local­authority, not private, control).
                    </li>
                </ul>
                <b id="fft18">Any additional assumptions relating to the valuation</b>
                <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;height: 1.5em;">

                </div>
                <p id="fft18" style="margin-bottom: 0em;">
                    Your legal advisers, and other people who carry out property conveyancing, should be familiar with
                    these
                    assumptions and are responsible for checking those concerning legal matters.
                    <br>
                    My opinion of the Market Value shown here could be affected by the outcome of the enquiries by your
                    legal advisers (section I) and/or any further investigations and quotations for repairs or
                    replacements.
                    The valuation assumes that your legal advisers will receive satisfactory replies to their enquiries
                    about
                    any assumptions in the report.
                </p>
                <b id="fft18">Any additional assumptions relating to the valuation</b>
                <div style="border: 1px solid #a0a4b0;
                        font-size: 14px;height: 1.5em;">

                </div>
                <p id="fft18">
                    <b>Note:</b> You can find information about the assumptions I have made in calculating this
                    reinstatement cost
                    in the
                    'Description of the RICS HomeBuyer Service' provided. The reinstatement cost is the cost of
                    rebuilding
                    an average
                    home of the type and style inspected to its existing standard using modern materials and techniques,
                    and
                    by acting in
                    line with current Building Regulations and other legal requirements. This will help you decide on
                    the
                    amount of buildings
                    insurance cover you will need for the property.
                </p>
            </div>
        </div>
    </DIV>
</BODY>

</HTML>