.Rectangle {
    width: 23em;
    border: 1px solid #93c6c4;
    margin-left: 26.5em;
    margin-bottom: 4em;
    background-color: #93c6c4;
}

.Rectangle h2 {
    font-size: 1.3em;
    color: white;
    margin-left: 0.5em;
}

.logo {
    z-index: -1;
    position: absolute;
    margin: 3em 1em;
}

.Rectangle1 {
    width: 42em;
    position: absolute;
    margin: 10em 1em;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 2px 20px 2px;
}

.text1 {
    width: 20em;
    margin: 15em 1em;
    position: absolute;
}

.logo1 {
    position: absolute;
    margin: 15em 26.5em;
}

.header1{
    width: 48em;
    border: 1px solid #0085c1;
    background-color: #0085c1;
}
.header2{
    width: 48em;
    border-bottom: 15px solid #00afde;
    background-color: #00afde;
}


.drawline{
    width: 40em;
    border-bottom: 15px solid #00afde;
    background-color: #00afde;
}