
        body {
            margin-top: 0px;
            margin-left: 0px;
        }

        #page_1 {
            position: relative;
            overflow: hidden;
            /* margin: 38px 0px 26px 0px; */
            margin: auto;
            padding: 0px;
            border: none;
            width: 770px;
            height: 1059px;
        }

        #page_1 #p1dimg1 {
            position: absolute;
            top: 4em;

        }

        #page_1 #p1dimg1 #p1img1 {
            width: 718px;
            height: 1059px;
        }




        #page_2 {
            position: relative;

            margin: 4em;
            padding-top: 1em;
            border: none;
            width: 717px;
        }

        #page_2 #p2dimg1 {
            position: absolute;
            top: 950px;
            left: 0px;
            z-index: -1;
            width: 642px;
            height: 18px;
        }

        #page_2 #p2dimg1 #p2img1 {
            width: 642px;
            height: 18px;
        }




        #page_3 {
            position: relative;

            margin: 4em;
            padding-top: 11em;
            border: none;
            width: 717px;
        }

        #page_3 #p3dimg1 {
            position: absolute;
            top: 950px;
            left: 0px;
            z-index: -1;
            width: 642px;
            height: 18px;
        }

        #page_3 #p3dimg1 #p3img1 {
            width: 642px;
            height: 18px;
        }




        #page_4 {
            position: relative;
            
            margin: 4em;
            padding-top: 14em;
            border: none;
            width: 717px;
        }

        #page_4 #p4dimg1 {
            position: absolute;
            top: 950px;
            left: 0px;
            z-index: -1;
            width: 642px;
            height: 18px;
        }

        #page_4 #p4dimg1 #p4img1 {
            width: 642px;
            height: 1047px;
        }




        #page_5 {
            position: relative;
            
            margin: 4em;
            padding-top: 16em;
            border: none;
            width: 717px;
        }

        #page_5 #p5dimg1 {
            position: absolute;
            top: 1005px;
            left: 0px;
            z-index: -1;
            width: 642px;
            height: 18px;
        }

        #page_5 #p5dimg1 #p5img1 {
            width: 642px;
            height: 18px;
        }




        #page_6 {
            position: relative;
            
            margin: 4em;
            padding-top: 16em;
            border: none;
            width: 717px;
        }

        #page_6 #p6dimg1 {
            position: absolute;
            top: 950px;
            left: 0px;
            z-index: -1;
            width: 642px;
            height: 555px;
        }

        #page_6 #p6dimg1 #p6img1 {
            width: 642px;
            height: 555px;
        }




        #page_7 {
            position: relative;
            
            margin: 4em;
            padding-top: 27em;
            border: none;
            width: 717px;
        }

        #page_7 #p7dimg1 {
            position: absolute;
            top: 950px;
            left: 0px;
            z-index: -1;
            width: 642px;
            height: 18px;
        }

        #page_7 #p7dimg1 #p7img1 {
            width: 642px;
            height: 18px;
        }




        #page_8 {
            position: relative;
            overflow: hidden;
            margin: 4em;
            padding-top: 10em;
            border: none;
            width: 717px;
        }

        #page_8 #p8dimg1 {
            position: absolute;
            top: 950px;
            left: 0px;
            z-index: -1;
            width: 642px;
            height: 18px;
        }

        #page_8 #p8dimg1 #p8img1 {
            width: 642px;
            height: 18px;
        }




        #page_9 {
            position: relative;
            overflow: hidden;
            margin: 4em;
            padding-top: 7em;
            border: none;
            width: 642px;
        }

        #page_9 #p9dimg1 {
            position: absolute;
            top: 950px;
            left: 0px;
            z-index: -1;
            width: 642px;
            height: 18px;
        }

        #page_9 #p9dimg1 #p9img1 {
            width: 642px;
            height: 18px;
        }




        .dclr {
            clear: both;
            float: none;
            height: 1px;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }

        .ft0 {
            font: bold 16px 'Calibri';
            color: #ffffff;
            line-height: 19px;
        }

        .ft1 {
            font: bold 32px 'Calibri';
            color: #ffffff;
            line-height: 37px;
        }

        .ft2 {
            font: italic 18px 'Calibri';
            color: #00b0de;
            line-height: 22px;
        }

        .ft3 {
            font: 16px 'Calibri';
            color: #ffffff;
            line-height: 19px;
        }

        .ft4 {
            font: 1px 'Calibri';
            line-height: 16px;
        }

        .ft5 {
            font: bold 21px 'Calibri';
            color: #0083a7;
            line-height: 26px;
        }

        .ft6 {
            font: 15px 'Calibri';
            line-height: 18px;
        }

        .ft7 {
            font: 1px 'Calibri';
            line-height: 1px;
        }

        .ft8 {
            font: 12px 'Calibri';
            line-height: 14px;
        }

        .ft9 {
            font: 20px 'Calibri';
            color: #0083a7;
            line-height: 24px;
        }

        .ft10 {
            font: 21px 'Calibri';
            color: #0083a7;
            margin-left: 22px;
            line-height: 26px;
        }

        .ft11 {
            font: 21px 'Calibri';
            color: #0083a7;
            line-height: 26px;
        }

        .ft12 {
            font: 16px 'Calibri';
            line-height: 19px;
        }

        .ft13 {
            font: 1px 'Calibri';
            line-height: 13px;
        }

        .ft14 {
            font: bold 16px 'Calibri';
            line-height: 19px;
        }

        .ft15 {
            font: 1px 'Calibri';
            line-height: 6px;
        }

        .ft16 {
            font: 16px 'Calibri';
            line-height: 20px;
        }

        .ft17 {
            font: 16px 'Calibri';
            margin-left: 3px;
            line-height: 19px;
        }

        .ft18 {
            font: 16px 'Calibri';
            margin-left: 4px;
            line-height: 19px;
        }

        .ft19 {
            font: bold 16px 'Calibri';
            line-height: 25px;
        }

        .ft20 {
            font: bold 27px 'Calibri';
            line-height: 32px;
        }

        .ft21 {
            font: bold 19px 'Calibri';
            line-height: 23px;
        }

        .ft22 {
            font: bold 17px 'Calibri';
            color: #0083a7;
            line-height: 21px;
        }

        .ft23 {
            font: 16px 'Calibri';
            margin-left: 11px;
            line-height: 19px;
        }

        .p0 {
            text-align: left;
            padding-left: 438px;
            margin-top: 98px;
            margin-bottom: 0px;
        }

        .p1 {
            text-align: left;
            padding-left: 438px;
            margin-top: 43px;
            margin-bottom: 0px;
        }

        .p2 {
            text-align: left;
            padding-left: 57px;
            margin-top: 72px;
            margin-bottom: 0px;
        }

        .p3 {
            text-align: left;
            padding-left: 38px;
            padding-right: 469px;
            margin-top: 84px;
            margin-bottom: 0px;
        }

        .p4 {
            text-align: left;
            padding-left: 435px;
            margin-top: 260px;
            margin-bottom: 0px;
        }

        .p5 {
            text-align: left;
            padding-left: 435px;
            margin-top: 18px;
            margin-bottom: 0px;
        }

        .p6 {
            text-align: left;
            padding-left: 435px;
            margin-top: 56px;
            margin-bottom: 0px;
        }

        .p7 {
            text-align: right;
            padding-right: 131px;
            margin-top: 18px;
            margin-bottom: 0px;
        }

        .p8 {
            text-align: left;
            padding-left: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p9 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p10 {
            text-align: left;
            margin-top: -3em;
            margin-bottom: 0px;
        }

        .p11 {
            text-align: right;
            padding-right: 6px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p12 {
            text-align: left;
            padding-left: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p13 {
            text-align: right;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p14 {
            text-align: left;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .p15 {
            text-align: left;
            padding-right: 81px;
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .p16 {
            text-align: left;
            margin-top: 25px;
            margin-bottom: 0px;
        }

        .p17 {
            text-align: left;
            margin-top: 25px;
            margin-bottom: 0px;
        }

        .p18 {
            text-align: left;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p19 {
            text-align: left;
            margin-top: 2px;
            margin-bottom: 0px;
        }

        .p20 {
            text-align: left;
            margin-top: 23px;
            margin-bottom: 0px;
        }

        .p21 {
            text-align: left;
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .p22 {
            text-align: left;
            padding-right: 135px;
            margin-top: 2px;
            margin-bottom: 0px;
        }

        .p23 {
            text-align: left;
            padding-left: 10px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .p24 {
            text-align: left;
            margin-top: 46px;
            margin-bottom: 0px;
        }

        .p25 {
            text-align: left;
            margin-top: 27px;
            margin-bottom: 0px;
        }

        .p26 {
            text-align: left;
            padding-right: 140px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p27 {
            text-align: left;
            padding-right: 89px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p28 {
            text-align: left;
            padding-right: 145px;
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .p29 {
            text-align: left;
            padding-right: 142px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p30 {
            text-align: left;
            padding-right: 146px;
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .p31 {
            text-align: left;
            padding-right: 311px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p32 {
            text-align: left;
            padding-right: 116px;
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .p33 {
            text-align: left;
            padding-right: 81px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p34 {
            text-align: left;
            margin-top: 32px;
            margin-bottom: 0px;
        }

        .p35 {
            text-align: left;
            padding-right: 124px;
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .p36 {
            text-align: justify;
            padding-right: 116px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p37 {
            text-align: left;
            padding-right: 111px;
            margin-top: 6px;
            margin-bottom: 0px;
        }

        .p38 {
            text-align: left;
            padding-right: 74px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p39 {
            text-align: left;
            margin-top: 26px;
            margin-bottom: 0px;
        }

        .p40 {
            text-align: left;
            padding-left: 4px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p41 {
            text-align: left;
            margin-top: 66px;
            margin-bottom: 0px;
        }

        .p42 {
            text-align: left;
            padding-right: 88px;
            margin-top: 22px;
            margin-bottom: 0px;
        }

        .p43 {
            text-align: left;
            padding-right: 84px;
            margin-top: 1px;
            margin-bottom: 0px;
        }

        .p44 {
            text-align: left;
            padding-right: 123px;
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .p45 {
            text-align: left;
            margin-top: 22px;
            margin-bottom: 0px;
        }

        .p46 {
            text-align: left;
            padding-left: 5px;
            margin-top: 102px;
            margin-bottom: 0px;
        }

        .p47 {
            text-align: left;
            padding-left: 5px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .p48 {
            text-align: left;
            padding-left: 5px;
            margin-top: 11px;
            margin-bottom: 0px;
        }

        .p49 {
            text-align: left;
            padding-left: 5px;
            padding-right: 434px;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .p50 {
            text-align: left;
            margin-top: 49px;
            margin-bottom: 0px;
        }

        .p51 {
            text-align: left;
            padding-left: 162px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .p52 {
            text-align: left;
            padding-left: 236px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p53 {
            text-align: left;
            padding-left: 143px;
            margin-top: 19px;
            margin-bottom: 0px;
        }

        .p54 {
            text-align: left;
            padding-right: 85px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p55 {
            text-align: left;
            padding-right: 79px;
            margin-top: 18px;
            margin-bottom: 0px;
        }

        .p56 {
            text-align: justify;
            padding-right: 79px;
            margin-top: 19px;
            margin-bottom: 0px;
        }

        .p57 {
            text-align: left;
            padding-right: 78px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p58 {
            text-align: left;
            padding-right: 91px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p59 {
            text-align: left;
            padding-right: 78px;
            margin-top: 22px;
            margin-bottom: 0px;
        }

        .p60 {
            text-align: justify;
            padding-left: 53px;
            padding-right: 91px;
            margin-top: 32px;
            margin-bottom: 0px;
            text-indent: -23px;
        }

        .p61 {
            text-align: left;
            padding-left: 30px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p62 {
            text-align: left;
            padding-left: 53px;
            padding-right: 90px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -23px;
        }

        .p63 {
            text-align: left;
            padding-left: 30px;
            margin-top: 1px;
            margin-bottom: 0px;
        }

        .p64 {
            text-align: left;
            padding-right: 74px;
            margin-top: 18px;
            margin-bottom: 0px;
        }

        .p65 {
            text-align: left;
            padding-right: 77px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p66 {
            text-align: left;
            padding-right:76px;
            margin-top: 19px;
            margin-bottom: 0px;
        }

        .p67 {
            text-align: justify;
            padding-right: 77px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p68 {
            text-align: left;
            padding-right: 85px;
            margin-top: 1px;
            margin-bottom: 0px;
        }

        .p69 {
            text-align: left;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p70 {
            text-align: left;
            padding-right: 80px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p71 {
            text-align: left;
            padding-right: 15px;
            margin-top: 32px;
            margin-bottom: 0px;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 499px;
            vertical-align: bottom;
            background: #0086c1;
        }

        .td1 {
            padding: 0px;
            margin: 0px;
            width: 143px;
            vertical-align: bottom;
            background: #0086c1;
        }

        .td2 {
            padding: 0px;
            margin: 0px;
            width: 499px;
            vertical-align: bottom;
            background: #00b0de;
        }

        .td3 {
            padding: 0px;
            margin: 0px;
            width: 143px;
            vertical-align: bottom;
            background: #00b0de;
        }

        .td4 {
            padding: 0px;
            margin: 0px;
            width: 48px;
            vertical-align: bottom;
        }

        .td5 {
            padding: 0px;
            margin: 0px;
            width: 419px;
            vertical-align: bottom;
        }

        .td6 {
            padding: 0px;
            margin: 0px;
            width: 175px;
            vertical-align: bottom;
        }

        .td7 {
            padding: 0px;
            margin: 0px;
            width: 467px;
            vertical-align: bottom;
        }

        .td8 {
            padding: 0px;
            margin: 0px;
            width: 383px;
            vertical-align: bottom;
        }

        .td9 {
            padding: 0px;
            margin: 0px;
            width: 249px;
            vertical-align: bottom;
        }

        .td10 {
            padding: 0px;
            margin: 0px;
            width: 0px;
            vertical-align: bottom;
        }

        .td11 {
            padding: 0px;
            margin: 0px;
            width: 129px;
            vertical-align: bottom;
        }

        .td12 {
            padding: 0px;
            margin: 0px;
            width: 471px;
            vertical-align: bottom;
        }

        .td13 {
            padding: 0px;
            margin: 0px;
            width: 121px;
            vertical-align: bottom;
        }

        .td14 {
            padding: 0px;
            margin: 0px;
            width: 212px;
            vertical-align: bottom;
        }

        .td15 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 212px;
            vertical-align: bottom;
        }

        .tr0 {
            height: 36px;
        }

        .tr1 {
            height: 16px;
        }

        .tr2 {
            height: 18px;
        }

        .tr3 {
            height: 24px;
        }

        .tr4 {
            height: 25px;
        }

        .tr5 {
            height: 34px;
        }

        .tr6 {
            height: 28px;
        }

        .tr7 {
            height: 14px;
        }

        .tr8 {
            height: 20px;
        }

        .tr9 {
            height: 8px;
        }

        .tr10 {
            height: 21px;
        }

        .tr11 {
            height: 13px;
        }

        .tr12 {
            height: 29px;
        }

        .tr13 {
            height: 33px;
        }

        .tr14 {
            height: 6px;
        }

        .tr15 {
            height: 22px;
        }

        .tr16 {
            height: 60px;
        }

        .tr17 {
            height: 31px;
        }

        .tr18 {
            height: 30px;
        }

        .t0 {
            width: 642px;
            font: 16px 'Calibri';
            color: #ffffff;
        }

        .t1 {
            width: 642px;
            margin-top: 17px;
            font: 15px 'Calibri';
        }

        .t2 {
            width: 632px;
            margin-left: 10px;
            margin-top: 4px;
            margin-bottom: 5em;
            font: 12px 'Calibri';
        }

        .t3 {
            width: 632px;
            margin-left: 10px;
            margin-top: 71px;
            margin-bottom: 2em;
            font: 12px 'Calibri';
        }

        .t4 {
            width: 600px;
            margin-left: 5px;
            font: 16px 'Calibri';
        }

        .t5 {
            width: 250px;
            margin-left: 5px;
            font: 16px 'Calibri';
        }

        .t6 {
            width: 632px;
            margin-left: 10px;
            margin-top: 50px;
            margin-bottom: 2em;
            font: 12px 'Calibri';
        }

        .t7 {
            width: 636px;
            margin-top: 21px;
            font: 16px 'Calibri';
        }

        .t8 {
            width: 632px;
            margin-left: 10px;
            margin-top: 50px;
            margin-bottom: 2em;
            font: 12px 'Calibri';
        }

        .t9 {
            width: 632px;
            margin-left: 10px;
            margin-top: 340px;
            font: 12px 'Calibri';
        }

        .t10 {
            width: 632px;
            margin-left: 10px;
            margin-top: 115px;
            font: 12px 'Calibri';
        }

        .t11 {
            width: 632px;
            margin-left: 10px;
            margin-top: 94px;
            font: 12px 'Calibri';
        }

        .t12 {
            width: 632px;
            margin-left: 10px;
            margin-top: 902px;
            font: 12px 'Calibri';
        }
